@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@media (max-width: 75em) {
  
html {
    font-size: 60%;
  }
}

*{
	font-size:1.5rem;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
  }

  header {
    padding: 15px 0 ;
    margin-left: 7px;
    font-size: 1.5rem;
    font-weight: bold;
}

pre {
    width: 50%;
}

code {
    display:block;
    margin:10px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    width: 50%;
    overflow: auto;
    color: red;
}

.code-js, .code-bootstrap {
    display:inline;
    background-color: transparent;
    color:red;
    margin:0;
    padding:0;
}
#main-doc {
     border-left: 2px solid gray;
     padding: 0 20px ;
     margin-left: 290px;
     height: 100%;
}

#navbar {
    width: 290px;
    position: fixed;
    display: block;
    margin: 0; 
    height: 100%;
    overflow: auto;
}

 #navbar ul {
    list-style-type: none;
    line-height: 2rem;
    padding: 0px;
    margin-left: 0;
    
}

 #navbar ul li {
    display: block;
    padding: 20px;
    border: 1px solid gray;
    width: 250px;
    padding: 10px;
}

#navbar li a {
    text-decoration: none;
     color: gray;
    margin-left:5px;
    padding: 20px;
}

